$minorFont: "Titan One", cursive;
$primaryFont: "DM Sans", sans-serif;

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

$white-color: #fff;
$accent-color: #d41443;
$second-accent-color: #ffa5ba;
$desc-text-color: #907E82;
$second-bg-color: #fff5f6;
$line-color: #e1e1e1;