<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-texts">
                <p class="footer-subtitle">homemade ice cream made</p>
                <h2 class="footer-title">with passion</h2>
            </div>
            <address class="footer-address">
                <div class="footer-social">
                    <a href="" class="footer-link">
                        <svg class="footer-social-img">
                            <use href="images/icecream.svg#icon-github"></use>
                        </svg>
                    </a><a href="" class="footer-link">
                        <svg class="footer-social-img">
                            <use href="images/icecream.svg#icon-telegram"></use>
                        </svg>
                    </a><a href="" class="footer-link">
                        <svg class="footer-social-img">
                            <use href="images/icecream.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </div>
                <p class="footer-contact">Feel free to contact <a href="tel:+61(0)383766284" class="footer-phone">+61 (0) 383 766 284</a></p>
            </address>
            <div class="footer-copyright"><p>&#169; 2019 - IceCream. All Rights Reserved.</p></div>
        </div>
    </div>
</footer>