<header class="header">
    <div class="container">
        <div class="header-content">
            <a href="index.html"><img src="images/icecream-logo.png" alt="Ice Cream Logo" class="header-logo"></a>
            <nav class="header-nav">
                <ul class="header-list">
                    <li class="header-item"><a href="" class="header-link">Home</a></li>
                    <li class="header-item"><a href="#" class="header-link">About us</a></li>
                    <li class="header-item"><a href="#work" class="header-link">How it's made?</a></li>
                    <li class="header-item"><a href="#products" class="header-link">Our products</a></li>
                    <li class="header-item"><a href="#footer" class="header-link">Contact</a></li>
                </ul>
            </nav>
            <div class="header-buttons">
                <button type="button" class="header-btn-open js-open-menu"><svg class="header-burger">
                        <use href="images/icecream.svg#icon-open"></use>
                    </svg>
                </button>
                <button type="button" class="header-buy">
                    Buy now
                    <svg class="header-arrow">
                        <use href="images/icecream.svg#icon-small-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</header>