<header class="header">
    <div class="container">
        <a href="index.html"><img src="images/icecream-logo.png" alt="Ice Cream Logo" width="199" height="50"></a>
        <nav class="header-nav">
            <ul class="header-list">
                <li class="header-item"><a href="#" class="header-link">Home</a></li>
                <li class="header-item"><a href="#" class="header-link">About us</a></li>
                <li class="header-item"><a href="#work" class="header-link">How it's made?</a></li>
                <li class="header-item"><a href="#products" class="header-link">Our products</a></li>
                <li class="header-item"><a href="#footer" class="header-link">Contact</a></li>
            </ul>
        </nav>
        <button type="button" class="header-open js-open-menu"><svg width="20">
                <use href="images/icecream.svg#icon-Burger"></use>
            </svg></button>
        <button type="button" class="header-buy">Buy now<svg width="4">
                <use href="images/icecream.svg#icon-small-arrow"></use>
            </svg></button>
    </div>
</header>