<section class="hero">
    <div class="container">
        <div class="hero-content">
            <div class="hero-texts">
                <p class="hero-subtitle">ice cream made with</p>
                <h1 class="hero-title">passion</h1>
            </div>
            <a href="#products"><button type="button" class="hero-button">Products</button></a>
            <a href="#work"><button type="button" class="hero-button hero-him">How it's made?</button></a>
            <div class="hero-milk">
                <img src="images/hero/hero-milk.png" alt="" class="hero-milk-img">
                <p class="hero-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et</p>
                <button type="button" class="hero-milk-btn">
                    <svg>
                        <use href="images/icecream.svg#icon-arrow-right"></use>
                    </svg>
                </button>
            </div>
            <ul class="hero-spots">
                <li class="hero-spot">
                    <h2 class="hero-count">16</h2>
                    <p class="hero-desc">cafes</p>
                </li>
                <li class="hero-spot">
                    <h2 class="hero-count">23</h2>
                    <p class="hero-desc">food trucks</p>
                </li>
            </ul>
            <img src="images/hero/hero-taste.png" alt="" class="hero-tasty">
        </div>
    </div>
</section>