<section class="hero">
    <div class="container">
        <div class="hero-content">
            <div class="hero-texts">
                <p class="hero-subtitle">ice cream made with</p>
                <h1 class="hero-title">passion</h1>
            </div>
            <a href="#products"><button type="button" class="hero-button">Products</button></a>
            <a href="#work"><button type="button" class="hero-button hero-him">How it's made?</button></a>
            <div class="hero-milk">
                <picture>
                    <source srcset="
                        ./images/hero/1x/hero-desk-milk-x1.webp 1x,
                        ./images/hero/2x/hero-desk-milk-x2.webp 2x
                      " media="(min-width: 1200px)" />
                    <source srcset="
                        ./images/hero/1x/hero-tab-milk-x1.webp 1x,
                        ./images/hero/2x/hero-tab-milk-x2.webp 2x
                      " media="(min-width: 768px)" />
                    
                    <img class="hero-milk-img" src="./images/hero/1x/hero-tab-milk-x1.webp" alt="" />
                </picture>
                <div class="hero-milk-content">
                    <p class="hero-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et</p>
                    <button type="button" class="hero-milk-btn">
                        <svg>
                            <use href="images/icecream.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <ul class="hero-spots">
            <li class="hero-spot">
                <h2 class="hero-count">16</h2>
                <p class="hero-desc">cafes</p>
            </li>
            <li class="hero-spot">
                <h2 class="hero-count">23</h2>
                <p class="hero-desc">food trucks</p>
            </li>
        </ul>
        <picture>
            <source srcset="
                ./images/hero/1x/hero-desk-taste-x1.webp 1x,
                ./images/hero/2x/hero-desk-taste-x2.webp 2x
              " media="(min-width: 1200px)" />
            <source srcset="
                ./images/hero/1x/hero-tab-taste-x1.webp 1x,
                ./images/hero/2x/hero-tab-taste-x2.webp 2x
              " media="(min-width: 768px)" />
            
            <img class="hero-tasty" src="./images/hero/1x/hero-tab-taste-x1.webp" alt="" />
        </picture>
    </div>
</section>