<div class="menu-back">
    <div class="header-menu js-menu-container">
        <button type="button" class="header-close js-close-menu"><svg width="14">
                <use href="images/icecream.svg#icon-close"></use>
            </svg></button>
        <button type="button" class="header-buy">Buy now<svg width="4">
                <use href="images/icecream.svg#icon-small-arrow"></use>
            </svg>
        </button>
        <nav class="header-mobnav">
            <ul class="header-moblist">
                <li class="header-mobitem"><a href="#" class="header-moblink">Home</a></li>
                <li class="header-mobitem"><a href="#" class="header-moblink">About us</a></li>
                <li class="header-mobitem"><a href="#work" class="header-moblink">How it's made?</a></li>
                <li class="header-mobitem"><a href="#products" class="header-moblink">Our products</a></li>
                <li class="header-mobitem"><a href="#footer" class="header-moblink">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>