<div class="menu-back">
    <div class="header-menu js-menu-container">
        <button type="button" class="header-btn-close js-close-menu"><svg width="14">
                <use href="images/icecream.svg#icon-close"></use>
            </svg></button>
        <button type="button" class="header-mob-buy">Buy now
            <svg class="header-mob-arrow">
                <use xlink:href="images/icecream.svg#icon-small-arrow"></use>
            </svg>
        </button>
        <nav class="header-mob-nav">
            <ul class="header-mob-list">
                <li class="header-mob-item"><a href="#" class="header-mob-link">Home</a></li>
                <li class="header-mob-item"><a href="#" class="header-mob-link">About us</a></li>
                <li class="header-mob-item"><a href="#work" class="header-mob-link">How it's made?</a></li>
                <li class="header-mob-item"><a href="#products" class="header-mob-link">Our products</a></li>
                <li class="header-mob-item"><a href="#footer" class="header-mob-link">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>