<section class="products">
    <div class="container">
        <p class="products-text">100% natural</p>
        <h1 class="products-title">products</h1>
        <ul class="products-list">
            <li class="products-item">
                <h2 class="products-subtitle">ice cream</h2>
                <p class="products-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et</p>
                    <button type="button"><img src="#" alt=""></button>
            </li>
            <li class="products-item">
                <h2 class="products-subtitle">ice coffee</h2>
                <p class="products-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut
                    labore et</p>
                    <button type="button"><img src="#" alt=""></button>
            </li>
            <li class="products-item">
                <h2 class="products-subtitle">milkshakes</h2>
                <p class="products-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut
                    labore et</p>
                    <button type="button"><img src="#" alt=""></button>
            </li>
        </ul>
    </div>
</section>