<section class="reviews" id="reviews">
  <div class="container">
    <img
      src="./images/reviews/reviews-per1.jpg"
      alt="Reviewer avatar"
      class="reviews-img"
      id="reviews-img"
    />
    <div class="reviews-background">
      <p class="reviews-text" id="reviews-text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
      </p>
    </div>
    <img src="./images/reviews/Group 8.png" alt="just dots" class="reviews-dots" width="32" height="4">
    <p class="reviews-person" id="reviews-person">Emily, Los Angeles</p>
    <ul class="reviews-svg-list">
      <li class="reviews-svg-item">
        <svg
          class="reviews-svg reviews-home"
          width="12"
          height="12"
          onclick="changeTestimonial(0)"
        >
          <use href="./images/icecream.svg#icon-home"></use>
        </svg>
      </li>
      <li class="reviews-svg-item">
        <svg
          class="reviews-svg"
          width="12"
          height="12"
          onclick="changeTestimonial(1)"
        >
          <use href="./images/icecream.svg#icon-reviews-dot"></use>
        </svg>
      </li>
      <li class="reviews-svg-item">
        <svg
          class="reviews-svg"
          width="12"
          height="12"
          onclick="changeTestimonial(2)"
        >
          <use href="./images/icecream.svg#icon-reviews-dot"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
