

<section class="spots">
  <div class="container">
    <h2 class="visually-hidden">our cafe</h2>
    <ul class="spots-list">
      <li class="spots-items">
        <h3>CAFE</h3>
        <h4>Chicago</h4>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <hr>
        <h4>Monday - Friday</h4>
        <p>06:00 AM - 10:00 PM</p>
        <h4>Saturday - Sunday</h4>
        <p>08:00 AM - 16:00 PM</p>
        <hr>
        <address>
            <ul>
                <li><a href="tel:+61(0)383766284">+61(0) 383 766 284</a></li>
                <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
            </ul>
        </address>
        
      </li>
      <li class="spots-items">
        <h3>FOOD TRUCK</h3>
        <h4>Los Angeles</h4>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <hr>
        <h4>Monday - Friday</h4>
        <p>06:00 AM - 10:00 PM</p>
        <h4>Saturday - Sunday</h4>
        <p>08:00 AM - 16:00 PM</p>
        <hr>
        <address>
            <ul>
                <li><a href="tel:+61(0)383766284">+61(0) 383 766 284</a></li>
                <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
            </ul>
        </address>
      </li>
      <li class="spots-items">
        <h3 class="spots-sections">CAFE</h3>
        <h4 class="spots-city">Chicago</h4>
        <p class="spots-desc">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <hr>
        <h4 class="spots-weekdays">Monday - Friday</h4>
        <p class="spots-time">06:00 AM - 10:00 PM</p>
        <h4 class="spots-weekdays">Saturday - Sunday</h4>
        <p class="spots-time">08:00 AM - 16:00 PM</p>
        <hr>
        <address>
            <ul class="spots-adress-list">
                <li class="spots-adress-item"><a href="tel:+61(0)383766284">+61(0) 383 766 284</a></li>
                <li class="spots-adress-item"><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
            </ul>
        </address>
      </li>
    </ul>
    <div class="spots-buttons">
        <button class="spots-btn btn-locations" type="button">Our Locations</button>
        <button class="spots-btn btn-franchise" type="button">Franchise</button>
    </div>
  </div>
</section>