<section class="work">
    <div class="container">
        <h3 class="work-title">tradition and love</h3>
        <h2 class="work-header">how it’s made?</h2>
        <p class="work-text text-black">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
            lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
        <p class="work-text text grey">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet
            placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
            tincidunt.Aliquam erat volutpat. Aenean accumsan.</p>
        <button class="work-button" type="button">Read more</button>
        <img src="./images/work/work-milk.png" alt="cow">
        <ul class="work-list">
            <li class="work-item">
                <p class="work-item-text">721</p>
                <p class="work-item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="work-item">
                <p class="work-item-text">16kg</p>
                <p class="work-item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="work-item">
                <p class="work-item-text">84</p>
                <p class="work-item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
        <img src="./images/work/work-gallery.jpg" alt="коллаж з морозивом">

    </div>
</section>