<section class="work">
    <div class="container">
        <h3 class="work-title">tradition and love</h3>
        <h2 class="work-header">how it’s made?</h2>
        <div class="work-container">
            <div class="work-text-content">
                <p class="work-text_text-black">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
                    lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
                <p class="work-text_text-grey">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet
                    placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                    tincidunt. <br> <br> Aliquam erat volutpat. Aenean accumsan.</p>
                    <button class="work-button" type="button">Read more
                        <svg class="arrow-work">
                            <use href="images/icecream.svg#icon-small-arrow-right"></use>
                        </svg>
                    </button>
            </div>
            <div class="work-image-content">
                <img class="work-img-milk" src="./images/work/work-milk.png" alt="cow">
            </div>
        </div>
        <ul class="work-list">
            <li class="work-item">
                <img class="work-icon1" src="/src/images/work/icon1.webp" alt="">
                <p class="work-item-text1">721</p>
                <p class="work-item-text2">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="work-item">
                <img class="work-icon2" src="/src/images/work/icon2.webp" alt="">
                <p class="work-item-text1">16kg</p>
                <p class="work-item-text2">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="work-item">
                <img class="work-icon3" src="/src/images/work/icon3.webp" alt="">
                <p class="work-item-text1">84</p>
                <p class="work-item-text2">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
        <img class="work-img-gallery" src="./images/work/work-gallery.jpg" alt="коллаж з морозивом">

    </div>
</section>