@use '../utils/variables' as *;

.footer {
    background-color: $second-bg-color;
}
.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: $tablet) {
        flex-direction: row;
    }
}

.footer-texts {
    max-width: 209px;
    text-wrap: wrap;
    margin-bottom: 43px;
}

.footer-subtitle {
    font-family: $minorFont;
    margin-bottom: 17px;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: $second-accent-color;
}

.footer-title {
    font-family: $minorFont;
    font-weight: 400;
    font-size: 34px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $accent-color;
}

.footer-address {
    display: flex;
    flex-direction: column;
    gap: 46px;
    margin-bottom: 43px;
}

.footer-social {
    display: flex;
    justify-content: right;
    gap: 28px;
}

.footer-link {
    max-width: 32px;
    max-height: 32px;
}

.footer-social-img {
    width: 32px;
    height: 32px;
    padding: 6px;
    background-color: $second-accent-color;
    border-radius: 50%;
    fill: #fff;

    &:hover,
    &:focus {
        background-color: $accent-color;
    }
}

.footer-contact {
    font-family: $primaryFont;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 186%;
    text-align: right;
    color: #000;
}

.footer-phone {
    color: $accent-color;

    &:hover,
    &:focus {
        color: $second-accent-color;
    }
}

.footer-copyright {
    border-top: 1px solid $line-color;
    padding: 9px 0;
}

.footer-copyright p {
    width: 135px;
    font-family: $primaryFont;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-wrap: wrap;
    margin: 9px auto;
    color: $desc-text-color;
}