@use '../utils/variables' as *;
.header {
    position: absolute;
    width: 100%;
    top: 6;
    z-index: 1;

    @media screen and (min-width: $tablet) {
        top: 36px;
    }
}

.header-logo {
    display: block;
    width: 199px;
    height: 50px;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.header-nav {
    display: none;

    @media screen and (min-width: $desktop) {
        display: flex;
        align-items: center;   
    }
}

.header-list {
    display: flex;
    gap: 35px;
}

.header-link {
    font-weight: 700;
    font-size: 16px;
    color: $white-color;
    transition: color 250ms ease-in;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-btn-open {
    display: block;
    background-color: transparent;
    border: 0;

    @media screen and (min-width: $desktop) {
        display: none;
    }
}

.header-burger {
    width: 20px;
    height: 20px;
    fill: $accent-color;
}

.header-buy {
    display: none;
    background-color: #fff;
    border: 0;
    border-radius: 30px;
    font-family: $primaryFont;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    transition: background-color, color, 250ms ease-in;

    &:hover,
    &:focus {
        background-color: $accent-color;
        color: $white-color;

        .header-arrow {
            fill: $white-color;
        }
    }

    @media screen and (min-width: $tablet) {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        width: 160px;
        height: 44px;
        color: $accent-color;
    }
}
.header-arrow {
    width: 16px;
    fill: $accent-color;
    transition: fill 250ms ease-in;
}
