@use '../utils/variables' as *;

.hero {
    height: 502px;
    padding-top: 193px;
    background-color: #FFB8CA;
    background-image: url("../images/hero/circle.webp");
    background-repeat: no-repeat;
    background-size: 346px;
    background-position-x: 60%;
    background-position-y: 83px;

    &::after {
        content: "";
        display: block;
        width: 171px;
        height: 410px;
        position: absolute;
        bottom: 350px;
        right: 32px;
        background-image: url("../images/hero/hero-mob-icecream.webp");
        background-position: center;
        background-repeat: no-repeat;
    }

    @media screen and (min-width: $tablet) {
        height: 399px;
        padding-top: 94px;
        background-size: 324px 322px;
        background-position: 66% 31px;

        &::after {
            width: 143px;
            height: 336px;
            right: 270px;
            top: 63px;
            background-image: url("../images/hero/hero-tab-icecream.webp");
        }   

    }
}

.hero-content {
    position: absolute;
    z-index: 1;
}

.hero-subtitle {
    width: 164px;
    font-family: $minorFont;
    font-size: 26px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $white-color;
}

.hero-title {
    font-family: $minorFont;
    font-size: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $accent-color;
}

.hero-button {
    padding: 9px 14px;
    background-color: $accent-color;
    border: 0;
    border-radius: 20px;
    font-size: 8px;
    color: $white-color;
    transition: background-color 250ms ease-in;

    @media (hover: hover) {
        background-color: $white-color;
        color: $accent-color;

        &:hover,
        &:focus {
            background-color: $accent-color;
            color: $white-color;
        }
    }
}

.hero-him {
    background-color: $white-color;
    color: $accent-color;
}

.hero-milk {
    display: none;

    @media screen and (min-width: $tablet) {
        display: flex;
    }
}

.hero-milk-img {
    width: 124px;
    height: 126px;
}

.hero-milk-content {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.hero-desc {
    width: 114px;
    font-size: 8px;
    line-height: 1.5;
    color: $white-color;
}

.hero-milk-btn {
    display: flex;
    align-items: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $white-color;
    fill: $accent-color;
    border: 0;
}
.hero-spots {
    display: none;

    @media screen and (min-width: $tablet) {
        display: flex;
        flex-direction: column;
    }
}
.hero-count {
    font-family: $minorFont;
    font-size: 28px;
    color: $accent-color;
}
.hero-spot p {
    text-align: right;
}
.hero-tasty {
    display: none;
}