@use '../utils/variables' as *;
.products {
  padding-top: 120px;
  padding-bottom: 100px;

  @media screen and (min-width: 768px) {
    padding-top: 122px;
    padding-bottom: 112px;
  }
}
.products-subtitle {
  margin-bottom: 15px;
  color: rgb(255, 165, 186);
  font-family: $minorFont;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 26px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
  }
}

.products-title {
  margin-bottom: 144px;
  color: rgb(212, 20, 67);
  font-family: $minorFont;
  font-size: 34px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 1.36px;
  text-align: center;
  @media screen and (min-width: 768px) {
    margin-bottom: 150px;
    font-size: 48px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
    margin-bottom: 200px;
  }
}

.products-list {
  display: flex;
  gap: 130px;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: $tablet) {
    gap: 20px;
  }

  @media screen and (min-width: $desktop) {
    gap: 30px;
  }
}

.products-item {
  position: relative;
  padding-bottom: 40px;
  width: 280px;
  border-radius: 24px;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 20px) / 3);
  }
  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 2 * 30px) / 3);
  }
}

.products-item:nth-last-child(1) {
  background-color: #c2e297;
}
.products-item:nth-last-child(2) {
  background-color: #f0d1a5;
}
.products-item:nth-last-child(3) {
  background-color: #ffb8ca;
}
.products-heading {
  text-align: center;
  margin-top: 161px;
  color: rgb(255, 255, 255);
  font-family: $minorFont;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.products-ice-coffee::before {
  content: '';
  position: absolute;
  background-image: url(../images/products/products-coffee.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 249px;
  height: 252px;
  top: -122px;
  left: 16px;
  @media screen and (min-width: 768px) {
    width: 220px;
    height: 224px;
    left: 0;
    background-image: url(../images/products/ice-cofee-tablet.png);
  }
  @media screen and (min-width: 1200px) {
    width: 335px;
    height: 335px;
    left: 0px;
    top: -200px;
    background-image: url(../images/products/ice-coffe-dekstop-1x.png);
  }
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .products-ice-coffee::before {
    background-image: url(../images/products/ice-coffe-2x.png);

    @media screen and (min-width: $tablet) {
      background-image: url(../images/products/ice-coffe-tablet-2x.png);
    }

    @media screen and (min-width: $desktop) {
      background-image: url(/src/images/products/ice-coffe-dekstop-2x.png);
    }
  }
}

.products-miskshakes::before {
  content: '';
  position: absolute;
  width: 249px;
  height: 252px;
  top: -115px;
  left: 16px;

  background-image: url(/src/images/products/products-milkshake.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media screen and (min-width: 768px) {
    width: 220px;
    height: 224px;
    left: 0;
    background-image: url(../images/products/milkshake-tablet.png);
  }
  @media screen and (min-width: 1200px) {
    width: 335px;
    height: 335px;
        left: 0px;
    top: -200px;

    background-image: url(../images/products/milkshake-dekstop-1x.png);
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .products-ice-scream::before {
    background-image: url(../images/products/milkshake-2x.png);

    @media screen and (min-width: $tablet) {
      background-image: url(../images/products/milkshake-tablet-2x.png);
    }

    @media screen and (min-width: $desktop) {
      background-image: url(../images/products/milkshake-dekstop-2x.png);
    }
  }
}

.products-ice-scream::before {
  content: '';
  position: absolute;
  width: 249px;
  height: 252px;
  top: -122px;
  left: 17px;
  background-image: url(../images/products/products-icecream.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media screen and (min-width: 768px) {
    width: 220px;
    height: 224px;
    left: 0;
    background-image: url(../images/products/ice-cream-tablet.png);
  }
  @media screen and (min-width: 1200px) {
    width: 335px;
    height: 335px;
        left: 0px;
    top: -200px;
    background-image: url(../images/products/ice-cream-dekstop-1x.png);
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .products-ice-scream::before {
    background-image: url(../images/products/ice-cream-2x.png);

    @media screen and (min-width: $tablet) {
      background-image: url(../images/products/ice-cream-tablet-2x.png);
    }

    @media screen and (min-width: $desktop) {
      background-image: url(../images/products/ice-cream-dekstop-2x.png);
    }
  }
}
.products-desc::before {
  content: '';
  position: absolute;
  top: 214px;
  left: 127px;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 10px 0 white, 20px 0 white;
  @media screen and (min-width: 768px) {
    left: 90px;
  }
  @media screen and (min-width: 1200px) {
    left: 150px;
  }
}

.products-desc {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  margin-top: 66px;
  color: rgb(255, 255, 255);
  font-family: $primaryFont;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.56px;
}

.products-button {
  fill: rgb(212, 20, 67);
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  width: 40px;
  height: 40px;
  margin-top: 30px;
  border: none;
}
.products-button:hover {
  transition: transform 250ms ease-in-out;
  background-color: rgba(212, 20, 67, 0.1);
  fill: darkred;
  transform: scale(1.1);
}
.products-button:focus {
  outline: 2px solid rgb(212, 20, 67);
  outline-offset: 3px;
}
.products-btn-icon {
  width: 40px;
  height: 40px;
}
