@use '../utils/variables' as *;
.products {
  padding-top: 120px;
  padding-bottom: 100px;
}
.products-subtitle {
  margin-bottom: 15px;
  color: rgb(255, 165, 186);
  font-family: $minorFont;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
}

.products-title {
margin-bottom: 144px;
  color: rgb(212, 20, 67);
  font-family: $minorFont;
  font-size: 34px;
  font-weight: 400;
  line-height: 1.1;
 letter-spacing: 1.36px;
  text-align: center;
}

.products-list {
  display: flex;
  gap: 130px;
  flex-wrap: wrap;
  justify-content: center;


  @media screen and (min-width: $tablet) {
    gap: 20px;
}

@media screen and (min-width: $desktop) {
    gap: 30px;
}

}



.products-item {
     flex-basis: calc((100% - 2 * 130px) / 3);
  position: relative;
  width: 280px;
  height: 485px;
  border-radius: 24px;
  @media screen and (max-width: 768px) {

    flex-basis: calc((100% - 2 * 20px) / 3);

}
@media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 2 * 30px) / 3);
}

}


.products-item:nth-last-child(1) {
  background-color: #c2e297;
}
.products-item:nth-last-child(2) {
  background-color: #f0d1a5;
}
.products-item:nth-last-child(3) {
  background-color: #ffb8ca;
}
.products-heading {
  text-align: center;
  margin-top: 161px;
  color: rgb(255, 255, 255);
  font-family: $minorFont;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.8px;
}

.products-ice-coffee::before {
  content: '';
  position: absolute;
  top: -120px;
  left: -20px;
  width: 249px;
  height: 252px;
  background-image: url('../images/products/products-coffee.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.products-miskshakes::before {
  content: '';
  position: absolute;
  top: -120px;
  left: -20px;
  width: 249px;
  height: 252px;
  background-image: url('/src/images/products/products-milkshake.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.products-ice-scream::before {
  content: '';
  position: absolute;
  top: -120px;
  left: -20px;
  width: 249px;
  height: 252px;
  background-image: url('/src/images/products/products-icecream.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.products-desc::before {
  content: '';
  position: absolute;
  top: 230px;
  left: 127px;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 10px 0 white, 20px 0 white;
}

.products-desc {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  margin-top: 66px;
  color: rgb(255, 255, 255);
  font-family: $primaryFont;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.56px;
}

.products-button {
  display: block;
  margin-left: auto;
    margin-right: auto;
  background-image: url(/src/images/products/row-right.png);
  width: 40px;
  height: 40px;
  margin-top: 30px;
  border: none;
  background-color: transparent;
}

.products-btn-icon {
  width: 40px;
  height: 40px;
}
