@use '../utils/variables' as *;


.reviews-img {
    width: 85px;
    height: 85px;
    border-radius: 100%;
    margin: 0 auto; 
    margin-bottom: 15px;
    margin-top: 121px;
}

.reviews-background {
    background-color: #FAFAFA;
    position: relative;
}

.reviews-background::before {
    content: "";
    background-image: url(../images/reviews/quotes.png);
    background-repeat: no-repeat;
    width: 54px;
    height: 40px;
    position: absolute;
    top: 28px;
    left: 61px;

    @media screen and (min-width: 768px) {
    left: 40px;
    top: 15px;
  }

  @media screen and (min-width: 1024px) {
    
  }
}

// .reviews-quotes {
//     width: 54px;
//     height: 40px;
//     position: relative;
//     z-index: 1;
//     margin-left: 61px;
// }

.reviews-text {
    padding: 30 50px;
    font-family: $primaryFont;
font-weight: 500;
font-size: 12px;
line-height: 30.6px;
letter-spacing: 0%;
    text-align: center;
    position: relative;
    z-index: 1;

    @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 16px;
  }
}

.reviews-svg {
    width: 12;
    height: 12;
    cursor: pointer;
}

.reviews-svg-list {
    gap: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
}

.reviews-home {
    fill: #D31342;
}

.reviews-dots {
    margin: 15px auto;
    width: 32px;
    height: 4px;
}

.reviews-person {
    text-align: center;
    font-family: $primaryFont;
    font-weight: 500;
    font-size: 14px;

    @media screen and (min-width: 768px) {
    font-size: 16px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 20px;
  }
}   