@use '../utils/variables' as *;

.work-list {
    margin-bottom: 139px;
    margin-top: 39px;

    @media screen and (max-width: 480px) {
        flex-direction: column;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        gap: 17px;
    }

    @media screen and (min-width: 1200px) {}
}

.work-img-milk {
    /*width: 516px;
    height: 516px;
    width: 280px;
    height: 279px;
    width: auto;
    height: auto;
    width: 340px;
    height: 339px;
    */

    @media screen and (max-width: 320px) {
        /*flex-direction: row;*/
        width: 280px;
        height: 279px;
    }
    @media screen and(min-width: 772px){
        width: 340px;
        height: 339px;
    }
    @media screen and(min-width: 773px){
        width: 516px;
        height: 516px;
        
    }

}

.work-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 39px;
    background-image: url(/src/images/work/work-background.png);
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and (max-width: 320px) {
        flex-direction: column-reverse;
    }

    @media screen and (min-width: 772px) {
        flex-direction: row-reverse;
    }


}

.work-text-content {
    max-width: 500px;

    @media screen and (max-width: 320px) {
        flex-direction: row;
        padding-left: 50px;
        padding-right: 56px;
        padding-top: 53px;
        font-size: 12px;
    }

    @media screen and(min-width: 772px) {
        padding-left: 17px;
        padding-right: 40px;
        font-size: 14px;

    }

    @media screen and(min-width: 1280px) {
        font-size: 16px;

    }
}

.work-title {
    font-family: $minorFont;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #ffa5ba;
    margin-top: 149px;

    @media screen and (min-width: 772px) {
        flex-direction: row;
    }
}

.work-header {
    font-family: $minorFont;
    font-weight: 400;
    font-size: 58px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #d41443;
    margin-bottom: 65px;

    @media screen and (min-width: 772px) {
        flex-direction: row;
    }
}

.work-text_text-black {
    font-family: $primaryFont;
    font-weight: 500;
    line-height: 176%;
    letter-spacing: 0.04em;
    color: #000;
    display: flex;

    @media screen and (min-width: 772px) {
        flex-direction: row;
    }
}

.work-text_text-grey {
    font-family: $primaryFont;
    font-weight: 500;
    line-height: 176%;
    letter-spacing: 0.04em;
    color: #907e82;
    display: flex;
    padding-top: 39px;


    @media screen and (min-width: 772px) {
        flex-direction: row;
    }
}

.work-button {
    width: 176px;
    height: 44px;
    color: #d41443;
    border-radius: 25px;
    background-color: white;
    margin-top: 45px;
    border: none;
    transition: background-color 0.4s ease, color 0.4s ease;

    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
}


.work-button {
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus {
        background-color: #ecebeb;
        ;
    }
}

.work-icon1 {
    width: 33px;
    height: 50px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
}

.work-icon2 {
    width: 50px;
    height: 50px;


    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
}

.work-icon3 {
    width: 44px;
    height: 50px;


    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
}

.work-item-text1 {
    font-family: $minorFont;
    font-weight: 700;
    font-size: 58px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: right;
    color: #d41443;
    display: flex;
    justify-content: start;

    @media screen and (max-width: 480px) {
        font-size: 36px;
        padding-top: 24px;
        padding-bottom: 24px;
    }


    @media screen and (min-width: 768px) {
        font-size: 48px;
        margin-top: 36px;
        margin-bottom: 13px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 58px;
        margin-top: 40px;
        margin-bottom: 15px;

    }
}

.work-item-text2 {
    font-family: $primaryFont;
    font-weight: 700;
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.02em;
    color: #000;

    @media screen and (max-width: 320px) {
        font-size: 12px;
    }

    @media screen and (min-width: 772px) {
        font-size: 14px;
    }
    @media screen and(min-width: 1280px) {
        font-size: 16px;
        
    }
}

.arrow-work {
    width: 10px;
    height: 10px;
    color: #d41443;
}